doctype 5
html
	head
		title browser-sourcer - #{title}
		link(rel='stylesheet', href='/stylesheets/style.css')
		if title == 'Admin'
			link(rel='stylesheet', href='/stylesheets/bootstrap.css')

	body
		block content