extends layout

block content
	#connection connection ID: ?
	#count      count: 0
	button#sessionCounter session counter
	button#requestData    request data

	canvas#plot

	script(type='text/javascript', src="/socket.io/socket.io.js")
	script(type='text/javascript', src='/javascripts/worker-io.js')
	script(type='text/javascript', src='/javascripts/visualization.js')